@model IEnumerable<VivesTrein.Domain.Entities.Boeking>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Reis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reis.Vertrekstad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reis.Bestemmingsstad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reis.TreinritReis.FirstOrDefault().Treinrit.Vertrek)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Reis.Naam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reis.Vertrekstad.Naam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reis.Bestemmingsstad.Naam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reis.TreinritReis.FirstOrDefault().Treinrit.Vertrek)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <a asp-action="Annuleren" asp-route-id="@item.Id">Annuleren</a>
            </td>
        </tr>
}
    </tbody>
</table>
