@model VivesTrein.ViewModels.ShoppingCartVM

@{
    ViewData["Title"] = "Index";
}

<h2>Uw winkelmandje:</h2>

@if (Model != null)
{

    <form asp-action="Payment">
        <table>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Cart[0].Naam)

                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cart[0].VertrekStad)

                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cart[0].AankomstStad)

                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cart[0].Aantal)

                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cart[0].Prijs)

                </th>
            </tr>
            @{ float total = 0;}
            @for (var i = 0; i < Model.Cart.Count; i++)
            {

                <tr>
                    @Html.HiddenFor(m => Model.Cart[i].ReisId)
                    <td>
                        <input asp-for="@Model.Cart[i].Naam" readonly="readonly" class="form-control" />
                    </td>
                    <td>
                        <input asp-for="@Model.Cart[i].VertrekStad" readonly="readonly" class="form-control" />
                    </td>
                    <td>
                        <input asp-for="@Model.Cart[i].AankomstStad" readonly="readonly" class="form-control" />
                    </td>
                    <td>
                        <input asp-for="@Model.Cart[i].Aantal" type="number" min="1" max="10" data-aantal="@i" readonly="readonly" />
                    </td>
                    <td>
                        <input asp-for="@Model.Cart[i].Prijs" type="number" readonly="readonly" />

                        @{
                            total += Model.Cart[i].Prijs;
                        }

                    </td>
                    <td>
                        <a asp-controller="ShoppingCart" asp-action="Delete" asp-route-reisId="@Model.Cart[i].ReisId">
                            <img src="~/images/delete.png" width="25" height="25" />
                        </a>
                    </td>
                </tr>
            }
                <tr>
                    <td> <input type="submit" value="Checkout" class="btn btn-default" /></td>
                    <td></td>
                    <td></td>
                    <th>
                        Total:
                    </th>
                    <td id="cart-total">
                        <input id="txtTotal" value="@total" type="number" readonly="readonly" />
                    </td>
                </tr>
                <tr>
                    <td></td>
                </tr>
        </table>
    </form>
}
else
{
    @Html.Raw("Uw shoppingcart is leeg") <br />
}


<a asp-controller="Reis"
   asp-action="Index">
    Verder winkelen
</a>

